extends layout

append head
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  body

  div(class="content")

    div(class="username-div")= user.username

    div(class="star")

    div(class="info")
      div(class="biography-div")
        p(class="bio-header") A little bit about me ...
        p(class="biography-info")= user.biography
        div(class="favorite-genre-div")
          div=`Favorite Genre:  ${user.Genre.name}`
    div(class="watched" onclick=`location.href='/users/${user.id}/reels'`) Watched →
    div(class="filmContainer")
      div
        each film in watchedReel.Films
          a(href=`/films/${film.id}`)
            img.filmPoster(src=film.posterPath)
