extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/films.css")
  script(src="/javascripts/films.js" type="module" defer)
  script(src="/javascripts/thumbs-up.js" type="module" defer)

block content
  .filmContainer
    .filmContents
      h1= film.title
    .filmContents
      img.filmPoster(src= film.posterPath)
      if authenticated
      if thumbsUp === null
        div
          div(class="like-btn-text thumbs-up-btn" id="liked" data-filmid= film.id data-userid= user.id) Like
      else
        div
          div(class="like-btn-text thumbsed-up-btn" id="liked" data-filmid= film.id data-userid= user.id) Liked
    .filmContents
      div= film.description
    .filmContents
      div= `Release Date: ${film.releaseDate}`
    .filmContents
      div= film.Genre.name
    if authenticated
  .reelContainer
    form(action=`./${film.id}/reel` method='POST')
      input(type='hidden' name='filmId' value=film.id)
      select(class="dropDown" name='reelId')
        each reel in reels
          option(value=reel.id)= reel.name
    button.add(type='submit') ADD TO REEL
  .review
    .existingReviews
      each review in reviews
        if review.review
          div= review.review
          div= `- ${review.User.username}`
          div -----------
    .reviewContainer
      if !userReview
        form.review-form(action=`/films/${film.id}/reviews/new` method='POST')
          input(type='hidden' name='_csrf' value=token)
          textarea(class="reviewText" name='review' placeholder= 'LEAVE A REVIEW')
          div
          button.submit-review-button(type='submit' data-filmid= film.id data-username= user.username) SUBMIT YOUR REVIEW
      else if userReview
        form.delete-review-form(action=`./${film.id}/review/delete` method='POST')
          input(type='hidden' name='_csrf' value=token)
          input(type='hidden' name='filmId' value=film.id)
          input(type='hidden' name='userId' value=user.id)
          button.delete-review-button(type='submit') DELETE YOUR REVIEW
