extends layout

append head
  link(rel="stylesheet" href="/stylesheets/films.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div
    h1= film.title
    br
    img.filmPoster(src= film.posterPath)
    br
    div= `Plot: ${film.description}`
    br
    div= `Release Date: ${film.releaseDate}`
    br
    div= `Genre: ${film.Genre.name}`
    div
  h1 Reviews
  div
  form.review-form(action=`/films/${film.id}/reviews/new` method='POST')
    input(type='hidden' name='_csrf' value=token)
    textarea(placeholder= 'Leave a review')
    button(type='submit') Submit


  each review in reviews
    if review.review
      div= review.review
       div= `- ${review.User.username}`



