extends layout
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/films.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  body
    div(class="browse")
      div(class="browse-section")
        div(class="browse-title") Movie Releases for You
        div(class="browse-films")
            div(class="browse-action-films browse-row")
              h1.genreHeader Action
              div(class="genre-films")
                each film in actionFilms
                  div(class="browse-film")
                    a(href=`/films/${film.id}`)
                      img.film(src= film.posterPath)

            div(class="browse-horror-films browse-row")
              h1.genreHeader Horror
              div(class="genre-films")
                each film in horrorFilms
                  div(class="browse-film")
                    a(href=`/films/${film.id}`)
                      img.film(src= film.posterPath)

            div(class="browse-comedy-films browse-row")
              h1.genreHeader Comedy
              div(class="genre-films")
                each film in comedyFilms
                  div(class="browse-film")
                    a(href=`/films/${film.id}`)
                      img.film(src= film.posterPath)

            div(class="browse-drama-films browse-row")
              h1.genreHeader Drama
              div(class="genre-films")
                each film in dramaFilms
                  div(class="browse-film")
                    a(href=`/films/${film.id}`)
                      img.film(src= film.posterPath)

      div(class="sidebar-section")
        div(class="sidebar-section-header") Popular New Releases
        div(class="genre-films-side")
          each film in otherFilms
            div(class="browse-film browse-row")
              a(href=`/films/${film.id}`)
                img.film(src= film.posterPath)
