mixin field(labelText, fieldName, fieldType = "text", className)
   div
      label(for=fieldName)=labelText
      input(type=fieldType id=fieldName name=fieldName class="form-control")

mixin validationErrorSummary(errors)
   .errorContainer
      each error, idx in errors
         p=`${error}`
